################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tests/TestAPT.Tests/bin/Debug/net5.0
/Tests/TestAPT.Tests/obj
